<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Piki</string>
	<key>CFBundleDisplayName</key>
	<string>Piki</string>
	<key>CFBundleExecutable</key>
	<string>piki-gui</string>
	<key>CFBundleIdentifier</key>
	<string>com.vizzlo.piki</string>
	<key>CFBundleIconFile</key>
	<string>piki</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>__VERSION__</string>
	<key>CFBundleVersion</key>
	<string>__VERSION__</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.13</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHumanReadableCopyright</key>
	<string>Piki — a simple personal wiki</string>
</dict>
</plist>
